.grid figure {
    margin: 0;
    position: relative;
}

.grid figcaption {
    position: absolute;
    top: -15%;
    left: -22%;
    padding: 20px;

}

/* Individual Caption Styles */

/* Caption Style 1 */
.cs-style-1 figcaption {
    height: 120%;
    width: 125%;
    opacity: 0;
    text-align: center;
    backface-visibility: hidden;
    transition: transform 0.3s, opacity 0.3s;
}

.cs-style-1 figure:hover figcaption {
    opacity: 0.9;
    transform: translate(15px, 15px);
}